<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/css/images/smartGreenhouse.PNG" type="image/x-icon">
    <title>Smart Greenhouse</title>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <style>
        #titles i,a{
            color:white;
        }
        #titles a{
            color:white;
        }
    </style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/circular-std/style.css" >
</head>
<body>
    <div class="dashboard-main-wrapper">
        <div class="dashboard-header fixed-top">
            <nav class="navbar navbar-expand-lg bg-white fixed-top" style="height:50px;">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Smart Greenhouse</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
        <!-- left sidebar -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Funkcionalnosti</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul id="titles" class="navbar-nav flex-column">
                            <li class="nav-divider" style="color:white;">
                                Funkcionalnosti
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i>Temperatura</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" asp-controller="Home" asp-action="Humidity"><i class="fa fa-cloud" aria-hidden="true"></i>Vlažnost zraka</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" asp-controller="Home" asp-action="Luminosity"><i class="fas fa-lightbulb" aria-hidden="true"></i> Osvjetljenje</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="AboutProject"><i class="fa fa-laptop" aria-hidden="true"></i> O projektu</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">

                    <div class="ecommerce-widget">

                        <div class="container-fluid">
                            <div class="">
                                <main role="main" class="pb-3">
                                    @RenderBody()
                                </main>
                            </div>
                        </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <footer class="sidebar-dark" style="padding:15px;text-align:center;color:white;"><strong> 2020 &copy; Smart Greenhouse - Almir Tihak</strong></footer>
    <script src="~/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="~/assets/libs/js/main-js.js"></script>
</body>
</html>
