<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/css/images/smartGreenhouse.PNG" type="image/x-icon">
    <title>Smart Greenhouse</title>

    <link href="~/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link href="~/css/colors/default.css" id="theme" rel="stylesheet">

    <style>

        #footer {
            background: #2f323e;
            color: white;
        }

        #side {
            background-color: #2f323e;
        }

        div li a {
            color: white;
            cursor: pointer;
        }

        #side-menu li a {
            color: white;
        }



    </style>

</head>
<body class="fix-header">
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="navbar-header top-left-part">
                    <a asp-controller="Home" asp-action="Index"><i class="fa fa-home" aria-hidden="true"></i> Smart greenhouse</a>
                </div>
                <ul class="nav navbar-top-links navbar-right pull-right">
                </ul>
            </div>
        </nav>
        <div id="side" class="navbar-default sidebar">
            <div class="navbar-header sidebar-nav slimscrollsidebar">
                <ul class="nav" id="side-menu">
                    <li style="padding: 70px 0 0;">
                        <a asp-controller="Home" asp-action="Index" class="waves-effect"><i class="fa fa-thermometer-half" aria-hidden="true"></i> Temperatura</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="Humidity" class="waves-effect"><i class="fa fa-cloud" aria-hidden="true"></i> Vlažnost zraka</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="Luminosity" class="waves-effect"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Osvjetljenje</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="Fan" class="waves-effect"><i class="fas fa-fan" aria-hidden="true"></i> Ventilator</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="AboutProject" class="waves-effect"><i class="fa fa-laptop" aria-hidden="true"></i> O projektu</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="page-wrapper" style="height:500px;">
            <div class="container-fluid">
                <div class="">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
        <div id="page-wrapper" style="margin-top:0px">
            <div class="container-fluid">
            </div>
        </div>
        <footer id="footer" class="footer text-center"><strong> 2020 &copy; Smart Greenhouse - Almir Tihak</strong></footer>
    </div>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</body>
</html>

