


<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <p>
            <strong style="margin:auto">MANUELNO UPRAVLJANJE RASHLAĐIVANJEM PLASTENIKA</strong>
        </p>
    </div>
</div>

@* 2 boxa  *@
<div class="row">
    
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <button class="white-box analytics-info" style="width:250px">
            <h3 class="box-title">Upali ventilator</h3>
            <ul class="list-inline two-part">
            <li class="text-right"><i class="ti-arrow-up text-success"></i></li>
            </ul>
        </button>
    </div>


    <div class="col-lg-4 col-sm-6 col-xs-12">
        <button asp-action="TurnOnOff()" class="white-box analytics-info" style="width:250px">
            <h3 class="box-title">Ugasi ventilator</h3>
            <ul class="list-inline two-part">
                <li class="text-right"><i class="ti-arrow-up text-purple"></i></li>
            </ul>
        </button>
    </div>
</div>


