
<div class="row bg-title">
    <p>
        <strong style="margin:auto">MANUELNO UPRAVLJANJE RASHLAĐIVANJEM PLASTENIKA</strong>
    </p>
</div>

<div class="row">
    <div class="col-lg-3 col-sm-6 col-xs-12">
        <button asp-action="TurnOnOff()" class="white-box analytics-info">
            <div class="white-box analytics-info">
                <h3 class="box-title" style="text-align:center;">Upali ventilator</h3>
                <ul class="list-inline two-part">
                    <li>
                        <div id="sparklinedash"></div>
                    </li>
                </ul>
            </div>
        </button>
    </div>

    <div class="row">
        <button asp-action="TurnOnOff()" class="white-box analytics-info">
            <div class="white-box analytics-info">
                <h3 class="box-title" style="text-align:center;">Ugasi ventilator</h3>
                <ul class="list-inline two-part">
                    <li>
                        <div id="sparklinedash"></div>
                    </li>
                </ul>
            </div>
        </button>
    </div>


</div>





@*<div class="row">

        <div class="col-lg-4 col-sm- col-xs-12">
            <button class="white-box analytics-info" style="width:250px">
                <h3 class="box-title">Upali ventilator</h3>
                <ul class="list-inline two-part">
                <li class="text-right"><i class="ti-arrow-up text-success"></i></li>
                </ul>
            </button>
        </div>


        <div class="col-lg-4 col-sm-6 col-xs-12">
            <button asp-action="TurnOnOff()" class="white-box analytics-info" style="width:250px">
                <h3 class="box-title"></h3>
                <ul class="list-inline two-part">
                    <li class="text-right"><i class="ti-arrow-up text-purple"></i></li>
                </ul>
            </button>
        </div>
    </div>*@


